* {
    --lightColorText: #120720;
    --lightColorBackground: #f4effc;
    --lightColorPrimary: #7234d5;
    --lightColorSecondary: #e78997;
    --lightColorAccent: #df8063;

    --darkColorText: #e9def8;
    --darkColorBackground1: #242724;
    --darkColorBackground2: #201D1D;
    --darkColorBorder: #424C42;
    --darkColorPrimary: #682acb;
    --darkColorSecondary: #771826;
    --darkColorAccent: #9d3d20;

    --whiteColor: #F8F8F8;
    --priorityColorHigh: #EC0C0C;
    --priorityColorMedium: #0958D5;
    --priorityColorLow: #16CA0D;

    --fw-400: 400;
    --fw-700: 700;
    --fw-900: 900;

    font-family: "Lato", sans-serif !important;
    box-sizing: border-box;
}

body {
    background-color: var(--lightColorBackground);
    margin: 0;
    padding: 0;
}

p,
span,
small,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--lightColorText);
    margin: 0;
}

button,
input,
textarea,
select,
option {
    font: inherit;
    color: var(--lightColorText);
}

.grid-layout {
    display: grid;
    grid-template-columns: 200px 1fr;
}

.dashboard-layout::-webkit-scrollbar {
    display: none;
}

.dashboard-layout {
    height: 100vh;
    overflow: hidden;
}

.empty-due-date {
    padding: 6px 8px;
    background-color: rgba(231, 137, 151, 0.35);
}

.border-focus {
    border: 1px solid var(--lightColorPrimary) !important;
}