body {
    background-color: var(--darkColorBackground2);
}

h2,
.small-information-text,
label,
div.form-text {
    color: var(--darkColorText);
}

input {
    background-color: var(--darkColorBackground1) !important;
    border-color: var(--darkColorBorder) !important;
    color: var(--darkColorText) !important;
}

input::placeholder {
    color: var(--darkColorText) !important;
}

button[type='submit'] {
    background-color: var(--darkColorPrimary);
    color: var(--darkColorText);
}

button[type='button'] {
    background-color: var(--darkColorSecondary);
    color: var(--darkColorText);
}