body {
    background-color: white;
}

main {
    width: fit-content;
}

main div {
    width: 500px !important;
}

.small-information-text {
    font-size: .9rem;
    opacity: .8;
}

h2 {
    font-weight: var(--fw-700);
}

.change-password-btn {
    background-color: var(--lightColorPrimary);
    border-radius: 4px;
}

.go-back-btn {
    background-color: var(--lightColorAccent);
    border-radius: 4px;
}