.icon-aspect-ratio {
    aspect-ratio: 1/1;
}

.no-text-decoration {
    text-decoration: none;
}

.title-notebooks-icon {
    width: 21px;
}

.notebooks-title {
    font-weight: var(--fw-700);
    font-size: 1.25rem;
}

.dropdown-plus-icon,
.dropdown-sliders-icon {
    width: 19px;
}

.dropdown-plus-trigger,
.dropdown-sliders-trigger,
.dropdown-sliders-menu-text {
    color: var(--lightColorText);
}

.add-new-notebooks-heading {
    font-size: 1.25rem;
    font-weight: var(--fw-700);
}

.add-new-notebooks-btn {
    border: 0;
    background-color: var(--lightColorPrimary);
    color: var(--whiteColor) !important;
    border-radius: 4px;
    font-weight: var(--fw-700);
    padding: .6rem 1rem;
}

.dropdown-sliders-menu-title {
    color: var(--lightColorText);
    opacity: 0.8;
    font-size: .95rem;
}

.notebooks-items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.notebooks-items>li {
    cursor: pointer;
}

.notebooks-items-title {
    font-size: 1rem;
    font-weight: var(--fw-400);
}

.notebooks-preview-compleate-btn {
    width: 15px;
    cursor: pointer;
}

.notebooks-items>li {
    cursor: pointer;
}

.empty-notebooks-height {
    height: 400px;
}

.empty-notebooks-icon {
    transform: scale(2.3);
}

.empty-notebooks-title {
    font-weight: var(--fw-700);
}

.empty-notebooks-desc {
    font-size: .9rem;
    opacity: .9;
}

.empty-notebooks-link {
    color: var(--lightColorPrimary);
}

.notebooks-items>li:hover {
    border: 1px solid var(--lightColorSecondary) !important;
}

.notebook-preview-title {
    border: none;
    background-color: transparent;
    width: 100%;
    padding: 0;
    outline: none;
    font-weight: var(--fw-700);
    font-size: 1.1rem;
}

.custom-trix {
    height: 470px;
    padding: 0;
    border: none;
    font-size: .95rem;
    overflow: auto;
}

/* .trix-button--icon-bold,
.trix-button--icon-italic,
.trix-button--icon-strike,
.trix-button--icon-link, */
/* .trix-button--icon-bullet-list,
.trix-button--icon-number-list, */
.trix-button--icon-heading-1,
.trix-button--icon-heading-2,
.trix-button--icon-quote,
.trix-button--icon-code,
.trix-button--icon-decrease-nesting-level,
.trix-button--icon-increase-nesting-level,
.trix-button--icon-undo,
.trix-button--icon-redo,
.trix-button--icon-attach {
    display: none !important;
    border: none !important;
}

.trix-button-group {
    border-right: none !important;
    border-left: none !important;
}

.notebook-preview-save-btn {
    border: none;
    width: fit-content;
    padding: .4rem 1rem;
    background-color: var(--lightColorPrimary);
    border-radius: 4px;
    color: var(--whiteColor) !important;
}

.input-outline-off:focus {
    outline: none !important;
    box-shadow: none !important;
}

.add-new-notebook-heading {
    font-size: 1.25rem;
    font-weight: var(--fw-700);
}

.add-new-notebook-btn {
    border: 0;
    background-color: var(--lightColorPrimary);
    color: var(--whiteColor) !important;
    border-radius: 4px;
    font-weight: var(--fw-700);
    padding: .6rem 1rem;
}

.action-icon {
    width: 15px;
}

.note-items-due-date-icon {
    width: 14px;
}

.note-items-due-date {
    opacity: .8;
    font-size: .8rem;
}