.asepct-ratio {
    aspect-ratio: 1/1;
}

.input-outline-off:focus {
    outline: none !important;
    box-shadow: none !important;
}

.preview-due-date-icon,
.priority-icon,
.action-icon,
.info-icon {
    width: 15px;
}

.color-3 {
    fill: var(--priorityColorHigh);
    stroke: var(--priorityColorHigh);
}

.color-2 {
    fill: var(--priorityColorMedium);
    stroke: var(--priorityColorMedium);
}

.color-1 {
    fill: var(--priorityColorLow);
    stroke: var(--priorityColorLow);
}

.preview-due-date {
    color: var(--lightColorText);
    font-size: .85rem;
    cursor: pointer;
}

.preview-title {
    outline: none;
    font-weight: var(--fw-700);
    font-size: 1.1rem;
}

.preview-complete-btn {
    width: 15px;
    cursor: pointer;
}

.preview-save-btn {
    background-color: var(--lightColorPrimary);
    border-radius: 4px;
    padding: .4rem 1rem;
    color: var(--whiteColor) !important;
}

.custom-trix {
    height: 435px;
    font-size: .95rem;
}

.empty-due-date {
    padding: 6px 8px;
    background-color: rgba(231, 137, 151, 0.35);
}

.empty-preview {
    opacity: 0.8;
}

.empty-preview-icon {
    transform: scale(1.8);
    color: var(--lightColorText);
}

.empty-preview-title {
    font-weight: var(--fw-700);
    font-size: 1.2rem;
}

.empty-preview-desc {
    font-size: .95rem;
}