/* customization style section start */

.asepct-ratio {
    aspect-ratio: 1/1;
}

.cursor-pointer {
    cursor: pointer;
}

thead>tr>th {
    font-size: .95rem;
}

tbody>tr>td {
    font-size: .9rem !important;
}

tbody>tr>td:nth-child(2) {
    width: 300px;
}

tbody>tr>td:nth-child(1) {
    width: 10px;
}

/* cuszomization style section end */

/* priority color style section start */
.color-3 {
    color: var(--priorityColorHigh) !important;
    fill: var(--priorityColorHigh) !important;
}

.color-2 {
    color: var(--priorityColorMedium) !important;
    fill: var(--priorityColorMedium) !important;
}

.color-1 {
    color: var(--priorityColorLow) !important;
    fill: var(--priorityColorLow) !important;
}

/* priority color style section end */

/* icon style section start */

.icon-w-21 {
    width: 21px;
}

.icon-w-19 {
    width: 19px;
}

.icon-w-16 {
    width: 15px;
}

.icon-w-15 {
    width: 15px;
}

/* icon style section end */

/* tag color style section start */

.color-blue {
    color: var(--priorityColorMedium) !important;
}

.color-green {
    color: var(--priorityColorLow) !important;
}

.color-red {
    color: var(--priorityColorHigh) !important;
}

.color-cyan {
    color: #09DFE7 !important;
}

.color-purple {
    color: #7B05E8 !important;
}

.color-orange {
    color: #F4860B !important;
}

/* tag color style section end */

/* ic omplete color style section start */

.complete-1 {
    color: var(--priorityColorLow) !important;
}

.complete-0 {
    color: var(--priorityColorHigh) !important;
}

/* is complete color style section end */

/* table view style section start */

.table-view-first-column {
    cursor: pointer;
    width: 300px;
}

.table-view-title {
    font-weight: var(--fw-700);
    font-size: 1.25rem;
}

.table-view-td-title {
    max-width: 200px;
    text-overflow: ellipsis;
}

.table-view-td-description {
    max-width: 350px;
    text-overflow: ellipsis;
}

.table-view-td-icon {
    width: 15px;
    opacity: 0;
    transition: opacity 160ms ease;
}

td:hover:hover .table-view-td-icon {
    opacity: 1;
}

/* table view style section end */

/* view item style section start */

.view-item-container {
    width: 600px;
}

.view-item-due-date {
    color: var(--lightColorText);
    font-size: .85rem;
    cursor: pointer;
}

.view-item-title {
    outline: none;
    font-weight: var(--fw-700);
    font-size: 1.1rem;
}

.view-item-complete-btn {
    width: 15px;
    cursor: pointer;
}

.view-item-save-btn {
    background-color: var(--lightColorPrimary);
    border-radius: 4px;
    padding: .4rem 1rem;
    color: var(--whiteColor) !important;
}

.custom-trix {
    height: 435px;
    padding: 0;
    font-size: .95rem;
}

.trix-height-475 {
    height: 475px;
}

/* .trix-button--icon-bold,
.trix-button--icon-italic,
.trix-button--icon-strike,
.trix-button--icon-link, */
/* .trix-button--icon-bullet-list,
.trix-button--icon-number-list, */
.trix-button--icon-heading-1,
.trix-button--icon-heading-2,
.trix-button--icon-quote,
.trix-button--icon-code,
.trix-button--icon-decrease-nesting-level,
.trix-button--icon-increase-nesting-level,
.trix-button--icon-undo,
.trix-button--icon-redo,
.trix-button--icon-attach {
    display: none !important;
    border: none !important;
}

.trix-button-group {
    border-right: none !important;
    border-left: none !important;
}

/* view item style section end */

/* empty table view style section start */

.empty-table-view-container {
    height: 500px;
}

.empty-table-view-icon {
    color: var(--lightColorText);
    transform: scale(2.3);
}

.empty-table-view-title {
    font-weight: var(--fw-700);
}

.empty-table-view-desc {
    font-size: .9rem;
    opacity: .9;
}

/* empty table view style section end */