.shortcut-title {
    font-weight: var(--fw-700);
    font-size: 1.25rem;
}

.icon-aspect-ratio {
    aspect-ratio: 1/1;
}

.shortcut-icon {
    width: 21px;
}

thead>tr>th {
    font-size: .95rem;
}

tbody>tr>td {
    font-size: .9rem !important;
}

tbody>tr>td:nth-child(2) {
    width: 300px;
}

tbody>tr>td:nth-child(1) {
    width: 10px;
}

.title-container {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

tbody>tr>td:nth-child(1):hover .view-title-icon {
    opacity: 1;
}

.view-title-icon {
    width: 15px;
    opacity: 0;
    transition: opacity 160ms ease;
}

.shortcut-type-icon {
    width: 15px;
}

.empty-shortcut-msg {
    height: 400px;
}

.empty-shortcut-icon {
    color: var(--lightColorText);
    transform: scale(2.3);
}

.empty-shortcut-title {
    font-weight: var(--fw-700);
}

.empty-shortcut-desc {
    font-size: .9rem;
    opacity: .9;
}

.trash-icon,
.reopen-icon {
    aspect-ratio: 1/1;
    width: 16px;
    cursor: pointer;
}